%%-*- mode: erlang -*-
{deps, [
    {lager, ".*",
        {git, "git://github.com/basho/lager.git", {branch, "master"}}},
    {gproc, ".*", {git, "git://github.com/esl/gproc.git", "master"}},
	{memento_core, ".*", {git, "git://github.com/freeakk/memento_core.git", "master"}},
	{memento_web, ".*", {git, "git://github.com/freeakk/memento_web.git", "master"}},
	{bullet, ".*", {git, "git://github.com/extend/bullet.git", "master"}},
	{jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", "master"}}
]}.


{erl_opts, [{parse_transform, lager_transform}]}.
